@model EDNEVENTOS.Models.ProdutoEmEvento

@{
    ViewData["Title"] = "AdicionarProdutoEmEvento";
}

<div style="padding:0px 974px 0px 0px">
    <a asp-controller="Eventos" asp-route-id="@ViewBag.Eventos.IdEvento" asp-action="MenuEventos"><i class="material-icons">keyboard_backspace</i></a>
</div>
@if (ViewBag.Message == "Sucesso")
{
    <p class="ok-login-msg">Produto adicionado com sucesso!</p>
}
@if (ViewBag.Message == "Erro")
{
    <p class="erro-login-msg">Erro ao adicionar produto</p>

}
<form asp-action="AdicionarProdutoEmEventoForm" method="post">
    <div class="mdl-card mdl-shadow--2dp" style="padding:20px;">
        <div class="form-horizontal">

            <div class="form-group">
                <input type="hidden" asp-for="Eventos.IdEvento" value="@ViewBag.Eventos.IdEvento" />
                <h4>
                    Adicionar Produto
                </h4>
            </div>
            <hr />

            <div class="form-group">
              
                <div class="col-md-10">
                    <select asp-for="Produto.IdProduto" asp-items="ViewBag.Produtos"class="mdl-textfield__input" type="text"></select>
                    <span asp-validation-for="Produto" class="text-danger"></span>
                </div>
            </div>
            <br />
            <div class="col-md-10">
               
                <div class="col-md-10">
                    <input asp-for="Quantidade" class="mdl-textfield__input" type="text" placeholder="Quantidade"/>
                    <span asp-validation-for="Quantidade" class="text-danger" />
                </div>
            </div>
            <br />
            <div class="col-md-offset-2 col-md-10">
                <input type="submit" value="Criar" class="mdl-button mdl-js-button mdl-button--raised mdl-js-ripple-effect mdl-button--accent" style="background-color:#B83C2F" />
            </div>
        </div>
    </div>
</form>


