@model EDNEVENTOS.Models.Eventos

@{
    ViewData["Title"] = "Editar Evento";
}
<div style="padding:0px 974px 0px 0px">
    <a asp-action="Index"><i class="material-icons">keyboard_backspace</i></a>
</div>
<form asp-action="Edit">
    <div asp-validation-summary="ValidationSummary.ModelOnly" class="text-danger"></div>
    <div class="mdl-card mdl-shadow--2dp" style="padding:20px;">
        <div class="mdl-textfield mdl-js-textfield mdl-textfield--floating-label" hidden>
            <div class="col-md-10">
                <input asp-for="IdEvento" class="mdl-textfield__input" type="text" />
                <label class="mdl-textfield__label" for="sample1">Nome do Evento</label>
                <span asp-validation-for="IdEvento" class="text-danger" />
            </div>
        </div>
        <div class="mdl-textfield mdl-js-textfield mdl-textfield--floating-label" hidden>
            <div class="col-md-10">
                <input asp-for="Caixa" class="mdl-textfield__input" type="text" />
                <label class="mdl-textfield__label" for="sample1">Caixa</label>
                <span asp-validation-for="Caixa" class="text-danger" />
            </div>
        </div>
        <div class="mdl-textfield mdl-js-textfield mdl-textfield--floating-label" hidden>
            <div class="col-md-10">
                <input asp-for="Status" class="mdl-textfield__input" type="text" />
                <label class="mdl-textfield__label" for="sample1">STTS</label>
                <span asp-validation-for="Status" class="text-danger" />
            </div>
        </div>
        <div class="mdl-textfield mdl-js-textfield mdl-textfield--floating-label">
            <div class="col-md-10">
                <input asp-for="NomeEvento" class="mdl-textfield__input" type="text" />
                <label class="mdl-textfield__label" for="sample1">Nome do Evento</label>
                <span asp-validation-for="NomeEvento" class="text-danger" />
            </div>
        </div><br />
        <div class="mdl-textfield mdl-js-textfield mdl-textfield--floating-label">

            <div class="col-md-10">
                <input asp-for="CepEvento" class="mdl-textfield__input" type="text" pattern="-?[0-9]*(\.[0-9]+)?" />
                <label class="mdl-textfield__label" for="sample2">CEP</label>
                <span asp-validation-for="CepEvento" class="mdl-textfield__error">Apenas numeros!</span>
            </div>
        </div>
        <br />
        <div class="mdl-textfield mdl-js-textfield mdl-textfield--floating-label">

            <div class="col-md-10">
                <input asp-for="LocalEvento" class="mdl-textfield__input" type="text" />
                <label class="mdl-textfield__label" for="sample1">Local do Evento...</label>
                <span asp-validation-for="LocalEvento" class="text-danger" />
            </div>
        </div><br />
        <div class="mdl-textfield mdl-js-textfield mdl-textfield--floating-label">

            <div class="col-md-10">
                <input asp-for="CidadeEvento" class="mdl-textfield__input" type="text" />
                <label class="mdl-textfield__label" for="sample1">Cidade do Evento...</label>
                <span asp-validation-for="CidadeEvento" class="text-danger" />
            </div>
        </div><br />
        <div class="mdl-textfield mdl-js-textfield mdl-textfield--floating-label">

            <div class="col-md-10">
                <input asp-for="BairroEvento" class="mdl-textfield__input" type="text" />
                <label class="mdl-textfield__label" for="sample1">Bairro do Evento...</label>
                <span asp-validation-for="BairroEvento" class="text-danger" />
            </div>
        </div><br />

        <div class="mdl-textfield mdl-js-textfield mdl-textfield--floating-label">

            <div class="col-md-10">
                <input asp-for="NumeroLocalEvento" class="mdl-textfield__input" type="text" pattern="-?[0-9]*(\.[0-9]+)?" />
                <label class="mdl-textfield__label" for="sample2">Numero</label>
                <span asp-validation-for="NumeroLocalEvento" class="mdl-textfield__error">Apenas numeros!</span>
            </div>
        </div>
        <br />
        <div class="mdl-textfield mdl-js-textfield mdl-textfield--floating-label">

            <div class="col-md-10">

                <input asp-for="ValorEvento" class="mdl-textfield__input" type="text" />
                <label class="mdl-textfield__label" for="sample2">Valor do Evento</label>
                <span asp-validation-for="ValorEvento" class="mdl-textfield__error">Apenas numeros!</span>
            </div>
        </div><br />
        <div class="mdl-textfield mdl-js-textfield mdl-textfield--floating-label">

            <div class="col-md-10">
                <input asp-for="ImagemProduto" class="mdl-textfield__input" type="file" placeholder="Valor" style="width:385px; padding:20px 47px;" />
                <span asp-validation-for="ImagemProduto" class="text-danger" />
            </div>
        </div><br />
        <div class="mdl-textfield mdl-js-textfield mdl-textfield--floating-label">

            <div class="col-md-10">
                <input asp-for="DataEvento" class="mdl-textfield__input" type="date" placeholder="Data" style="width:385px; padding:20px 47px;" />
                <span asp-validation-for="DataEvento" class="text-danger" />
            </div>
        </div><br />
        <div class="mdl-textfield mdl-js-textfield mdl-textfield--floating-label">

            <div class="col-md-10">
                <input asp-for="Hora" class="mdl-textfield__input" type="time" style="width:385px; padding:20px 47px;" />
                <span asp-validation-for="Hora" class="text-danger" />
            </div>
        </div><br />
        <div class="mdl-textfield mdl-js-textfield mdl-textfield--floating-label">
            <div class="col-md-offset-2 col-md-10">
                <input type="submit" value="Editar" class="mdl-button mdl-js-button mdl-button--raised mdl-js-ripple-effect mdl-button--accent" style="background-color:#B83C2F" />
            </div>
        </div>
        <br />
    </div>
</form>



