@model EDNEVENTOS.Models.Eventos
<div class="android-card-container mdl-grid">
    <div class="mdl-cell mdl-cell--3-col mdl-cell--4-col-tablet mdl-cell--4-col-phone mdl-card mdl-shadow--3dp">
        <div class="mdl-card__media" style="background-color:aliceblue">
            <img src="https://image.freepik.com/icones-gratis/bares-e-linha-ascendente-grafico-de-analise-de-dados_318-55048.png" style="height:207px; width:213px;background-color:aliceblue">
        </div>
        <div class="mdl-card__title" style="padding:1px;">
            <h4 class="mdl-card__title-text">Create your own Android character</h4>
        </div>

        <div class="mdl-card__actions">
            <a class="android-link mdl-button mdl-js-button mdl-typography--text-uppercase" href="">
                GRAFICO
                <i class="material-icons">chevron_right</i>
            </a>
        </div>
    </div>

    <div class="mdl-cell mdl-cell--3-col mdl-cell--4-col-tablet mdl-cell--4-col-phone mdl-card mdl-shadow--3dp">
        <div class="mdl-card__media" style="background-color:aliceblue">
            <img src="http://plymouthministorage.com/wp-content/uploads/2016/03/shopping-cart-logo-png-shoppingcart.jpg" style="height:207px; width:213px;background-color:#FFFFFF">
        </div>
        <div class="mdl-card__title" style="padding:1px;">
            <h4 class="mdl-card__title-text">Create your own Android character</h4>
        </div>

        <div class="mdl-card__actions">
            <a class="android-link mdl-button mdl-js-button mdl-typography--text-uppercase" href="">
                VENDER PRODUTOS
                <i class="material-icons">chevron_right</i>
            </a>
        </div>
    </div>

    <div class="mdl-cell mdl-cell--3-col mdl-cell--4-col-tablet mdl-cell--4-col-phone mdl-card mdl-shadow--3dp">
        <div class="mdl-card__media" style="background-color:aliceblue">
            <img src="https://upload.wikimedia.org/wikipedia/commons/thumb/7/7a/Cifr%C3%A3o_symbol.svg/2000px-Cifr%C3%A3o_symbol.svg.png" style="height:207px; width:213px;background-color:#FFFFFF">
        </div>
        <div class="mdl-card__title" style="padding:1px;">
            <h4 class="mdl-card__title-text">Create your own Android character</h4>
        </div>

        <div class="mdl-card__actions">
            <a class="android-link mdl-button mdl-js-button mdl-typography--text-uppercase" href="">
                CAIXA
                <i class="material-icons">chevron_right</i>
            </a>
        </div>
    </div>

    <div class="mdl-cell mdl-cell--3-col mdl-cell--4-col-tablet mdl-cell--4-col-phone mdl-card mdl-shadow--3dp">
        <div class="mdl-card__media" style="background-color:aliceblue">
            <img src="http://simpleicon.com/wp-content/uploads/basket-plus.png" style="height:207px; width:213px;background-color:#FFFFFF">
        </div>
        <div class="mdl-card__title" style="padding:1px;">
            <h4 class="mdl-card__title-text">Create your own Android character</h4>
        </div>

        <div class="mdl-card__actions">
            <a asp-controller="Eventos" asp-action="AdicionarProdutoEmEventoForm" class="android-link mdl-button mdl-js-button mdl-typography--text-uppercase">
                PRODUTO/EVENTO
                <i class="material-icons">chevron_right</i>
            </a>
        </div>
    </div>


</div>


