<html>
<head>
    <meta content="text/html;" charset="UTF-8" http-equiv="Content-Type" />
</head>
<body bgcolor="#FFFFFF" marginheight="0" marginwidth="0">
    <table border="0" cellpadding="0" cellspacing="0" width="100%" align="center" bgcolor="#FFFFFF">
        <tr>
            <td>
                <div style="height: 30px;background-color: rgb(33, 45, 51);">
                </div>
            </td>
        </tr>
        <tr>
            <td>
                <div style="font-family:'Arial',sans-serif; font-size: 15px; padding: 30px;">
                    <!--<img src="img/logo_megatop_png_cinza.png"/>--><br /><br />
                    <h2 style="font-family:'Arial',sans-serif; color: #303030;"><div style="color:rgb(184, 60, 47);">EDN</div><div style="color:rgb(33, 45, 51);"> EVENTOS</div></h2>
                    <div style="font-family:'Arial',sans-serif; font-size: 17px; color: #474646;">
                        <p>
                            <b>#Usuario</b>
                            <br />Seu cadastro foi realizado com sucesso!
                        </p>
                        <p style="background-color: #eeeeee; padding: 15px; position: relative; left: -15px;">
                            <b>
                                Confirme seu email para o acesso ao sistema!
                                <br /> SENHA TEMPORARIA: #Senha
                        </p><br />
                        <a href="#url" style="font-family:'Arial',sans-serif; font-size: 17px; background-color:rgb(184, 60, 47);; padding: 15px; color: #FFFFFF; text-decoration: none;">
                            CONFIRMAR
                        </a><br /><br />
                        <p>
                            Este e-mail foi enviado automaticamente pelo sistema.
                        </p><p><i>Quando logar altere sua senha no sistema.</i></p>
                    </div>
                </div>
            </td>
        </tr>
        <tr><td><div style="font-family:'Arial',sans-serif; font-size: 15px; padding: 15px; background-color: rgb(33, 45, 51); color: #FFFFFF;"><b>EDN EVENTOS</b> (2016)</div></td></tr>
    </table>
</body>
</html>