@model EDNEVENTOS.Models.Produtos

@{
    ViewData["Title"] = "Criar Produto";
}



<form asp-action="Create">

    <div asp-validation-summary="ValidationSummary.ModelOnly" class="text-danger"></div>
    <div class="mdl-card mdl-shadow--2dp" style="padding:20px;">
        <div class="mdl-textfield mdl-js-textfield mdl-textfield--floating-label">
            <input asp-for="NomeProduto" class="mdl-textfield__input" type="text" />
            <label class="mdl-textfield__label" for="sample1">Nome do Produto</label>
            <span asp-validation-for="NomeProduto" class="text-danger" />
        </div>
        <br />
        <div class="mdl-textfield mdl-js-textfield mdl-textfield--floating-label">
            <div class="col-md-10">
                <select asp-for="CategoriaProduto" class="mdl-textfield__input" type="text">
                    <option>Selecione a categoria</option>
                    <option value="Bebidas">Bebidas</option>
                    <option value="Bebidas Alcoolicas">Bebidas Alcoolicas</option>
                    <option value="Energetico">Comidas</option>
                    <option value="Combo">Combo Pleno</option>
                    <option value="Doces">Doces</option>
                </select>
                <label class="mdl-textfield__label" for="sample1">Categoria do Produto</label>
                <span asp-validation-for="CategoriaProduto" class="text-danger" />
            </div>
        </div><br />

        <div class="col-md-10">
            <input asp-for="Imagem" class="mdl-textfield__input" type="file" placeholder="Valor" style="width:385px; padding:20px 47px;" />
            <span asp-validation-for="Imagem" class="text-danger" />
        </div>
        <br />

        <br />
        <div class="mdl-textfield mdl-js-textfield mdl-textfield--floating-label">

            <div class="col-md-10">
                <input asp-for="ValorProduto" class="mdl-textfield__input" type="text" pattern="-?[0-9]*(\.[0-9]+)?" />
                <label class="mdl-textfield__label" for="sample2">Valor do Produto</label>
                <span asp-validation-for="ValorProduto" class="mdl-textfield__error">Apenas numeros!</span>
            </div>
        </div>
          <br />
        <div class="form-group">
            <div class="col-md-offset-2 col-md-10">
                <input type="submit" value="Criar" class="mdl-button mdl-js-button mdl-button--raised mdl-js-ripple-effect mdl-button--accent" style="background-color:#B83C2F"/>
            </div>
        </div>
    </div> 
</form>

<div>
    <a asp-action="Index"class="mdl-button mdl-js-button mdl-button--fab mdl-button--colored" style="background:#B83C2F; right:90px;top:-50px;"><i class="material-icons"style="color:aliceblue" >reply</i>Voltar</a>
</div>

