@model EDNEVENTOS.Models.Produtos

@{
    ViewData["Title"] = "Detalhes dos Produtos";
}

<div class="detalhe-produto">
    <div class="lado-esquerdo">
        <b>@Html.DisplayFor(model => model.NomeProduto)</b>
        <figure><img src="~/images/ImagemProdutos/@Html.DisplayFor(model => model.Imagem)" class="produto-avatar"></figure>
    </div>
    <div class="lado-direito">
        <b>Valor do produto:</b> R$ @Html.DisplayFor(model => model.ValorProduto)<br>
        <b>Categoria:</b>@Html.DisplayFor(model => model.CategoriaProduto) 

    </div>
    <div>
        <a asp-action="Edit" asp-route-id="@Model.IdProduto" class="btn btn-warning">Editar</a>
        <a asp-action="Index" class="btn  btn-primary">Voltar</a>
    </div>
</div>

