@model EDNEVENTOS.Models.Produtos

@{
    ViewData["Title"] = "Editar Produtos";
}

<form asp-action="Edit">

    <div asp-validation-summary="ValidationSummary.ModelOnly" class="text-danger"></div>
    <div class="mdl-card mdl-shadow--2dp" style="padding:20px;">
        <div class="mdl-textfield mdl-js-textfield mdl-textfield--floating-label" hidden>
            <input asp-for="IdProduto" class="mdl-textfield__input" type="text" />
            <label class="mdl-textfield__label" for="sample1">Nome do Produto</label>
            <span asp-validation-for="IdProduto" class="text-danger" />
        </div>
        <br />
               <div class="mdl-textfield mdl-js-textfield mdl-textfield--floating-label">
            <input asp-for="NomeProduto" class="mdl-textfield__input" type="text" />
            <label class="mdl-textfield__label" for="sample1">Nome do Produto</label>
            <span asp-validation-for="NomeProduto" class="text-danger" />
        </div>
        <br />
        <div class="mdl-textfield mdl-js-textfield mdl-textfield--floating-label">
            <div class="col-md-10">
                <input asp-for="CategoriaProduto" class="mdl-textfield__input" type="text" />
                <label class="mdl-textfield__label" for="sample1">Categoria do Produto</label>
                <span asp-validation-for="CategoriaProduto" class="text-danger" />
            </div>
        </div><br />
        <div class="form-group">
                <label asp-for="Imagem" class="col-md-2 control-label"></label>
                <div class="col-md-10">
                    <input asp-for="Imagem" type="file" class="form-control" />
                    <span asp-validation-for="Imagem" class="text-danger" />
                </div>
            </div>

        <br />
        <div class="mdl-textfield mdl-js-textfield mdl-textfield--floating-label">

            <div class="col-md-10">
                <input asp-for="ValorProduto" class="mdl-textfield__input" type="text" />
                <label class="mdl-textfield__label" for="sample2">Valor do Produto</label>
                <span asp-validation-for="ValorProduto" class="mdl-textfield__error">Apenas numeros!</span>
            </div>
        </div>
        <div class="form-group">
            <div class="col-md-offset-2 col-md-10">
                <input type="submit" value="Editar" class="mdl-button mdl-js-button mdl-button--raised mdl-js-ripple-effect mdl-button--accent" style="background-color:#B83C2F" />
            </div>
        </div>
    </div>
</form>

<div style="padding 0px 0px 0px 0px">
    <a asp-action="Index" class="mdl-button mdl-js-button mdl-button--fab mdl-button--colored" style="background:#B83C2F; right:95px;top:-50px;"><i class="material-icons" style="color:aliceblue">reply</i>Voltar</a>
</div>