@model IEnumerable<EDNEVENTOS.Models.Produtos>

@{
    ViewData["Title"] = "Detalhes dos Produtos";
}
<script src="https://code.highcharts.com/highcharts.js"></script>
<script src="https://code.highcharts.com/modules/exporting.js"></script>
<script>
$(function () {
    $('#container').highcharts({
        title: {
            text: 'Combination chart'
        },
        xAxis: {
            categories: ['Apples', 'Oranges', 'Pears', 'Bananas', 'Plums']
        },
        labels: {
            items: [{
                html: 'Total fruit consumption',
                style: {
                    left: '50px',
                    top: '18px',
                    color: (Highcharts.theme && Highcharts.theme.textColor) || 'black'
                }
            }]
        },
        series: [{
            type: 'column',
            name: 'Jane',
            data: [3, 2, 1, 3, 4]
        }, {
            type: 'column',
            name: 'John',
            data: [2, 3, 5, 7, 6]
        }, {
            type: 'column',
            name: 'Joe',
            data: [4, 3, 3, 9, 0]
        }, {
            type: 'spline',
            name: 'Average',
            data: [3, 2.67, 3, 6.33, 3.33],
            marker: {
                lineWidth: 2,
                lineColor: Highcharts.getOptions().colors[3],
                fillColor: 'white'
            }
        }, {
            type: 'pie',
            name: 'Total consumption',
            data: [{
                name: 'Jane',
                y: 13,
                color: Highcharts.getOptions().colors[0] // Jane's color
            }, {
                name: 'John',
                y: 23,
                color: Highcharts.getOptions().colors[1] // John's color
            }, {
                name: 'Joe',
                y: 19,
                color: Highcharts.getOptions().colors[2] // Joe's color
            }],
            center: [100, 80],
            size: 100,
            showInLegend: false,
            dataLabels: {
                enabled: false
            }
        }]
    });
});
</script>
<div id="container" style="min-width: 310px; height: 400px; margin: 0 auto"></div>

@*<script type="text/javascript" src="https://www.google.com/jsapi"></script> <!-- JS para os graficos-->
<script type="text/javascript"
        src="https://www.google.com/jsapi?autoload={
            'modules':[{
              'name':'visualization',
              'version':'1',
              'packages':['corechart']
            }]
          }"></script>

<script type="text/javascript" src="http://ajax.googleapis.com/ajax/libs/jquery/1.5.1/jquery.min.js"></script>
<script type="text/javascript" src="https://www.google.com/jsapi"></script><!--JS GRAFICO-->
<script type="text/javascript">
    google.load("visualization", "1.1", { packages: ["bar"] });
    google.setOnLoadCallback(drawChartA);

    function drawChartA() {
        var concas = "'"
        var data = google.visualization.arrayToDataTable([
          ['Itens', 'Quantidade'],
         @foreach (var item in Model)
         {
          <text>
          ['@item.NomeProduto',@item.QuantidadeProduto],
          </text>
         }

        ]);

        var options = {
            chart: {
                title: 'Quantidade de produtos',
                subtitle: '',
            }
        };

        var chartA = new google.charts.Bar(document.getElementById('eventoA'));
        chartA.draw(data, options);
    }
</script>


<div class="mdl-color--white mdl-shadow--2dp mdl-cell mdl-cell--12-col mdl-grid" style="padding:30px;">
    <div id="eventoA" style="width: 900px; height: 500px;"></div>
</div>*@
