@model IEnumerable<EDNEVENTOS.Models.RegistroRelatorioProdutoPorEvento>

@{
    ViewData["Title"] = "Produtos";
}

<div class="android-more-section">
   
    <div class="android-card-container mdl-grid">

        @foreach (var item in Model)
        {
            <div class="mdl-cell mdl-cell--3-col mdl-cell--4-col-tablet mdl-cell--4-col-phone mdl-card mdl-shadow--3dp">
                <div class="mdl-card__media" style="background-color:aliceblue">
                    <img src="~/images/ImagemProdutos/@item.Imagem" style="height:207px; width:213px;background-color:aliceblue">
                </div>
                <div class="mdl-card__title">
                    <h4 class="mdl-card__title-text">Create your own Android character</h4>
                </div>
                <div class="mdl-card__supporting-text">
                    <span class="mdl-typography--font-light mdl-typography--subhead">@item.NomeProduto <br><div style="color:greenyellow">R$ @item.ValorProduto</div></span>
                </div>
                <div class="mdl-card__actions">
                    <a class="android-link mdl-button mdl-js-button mdl-typography--text-uppercase" href="">
                        VENDER
                        <i class="material-icons">chevron_right</i>
                    </a>
                </div>
            </div>
        }
    </div>
</div>
